* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-gray-100: #0D0E11;
  --base-gray-200: #16181D;
  --base-gray-300: #292C34;
  --base-gray-400: #878EA1;
  --base-gray-500: #C0C4CE;
  --base-gray-600: #E2E4E9;
 
  --principal-red: #E3646E;
  --principal-purple: #BB72E9;
  --principal-blue: #3996DB;
  --principal-green: #82BC4F;
  --principal-yellow: #EABD5F;

 --font-family-asap: "Asap", serif;
 --title-lg: 700 56px/120% var(--font-family-asap);
 --title-md: 700 24px/120% var(--font-family-asap);
 --title-sm: 700 16px/120% var(--font-family-asap);

 --font-family-inconsolata: "Inconsolata", serif;
 --subtitle: 400 20px/120% var(--font-family-inconsolata);
 
--font-family-mavenpro: "Maven Pro", serif;
--text-md: 400 16px/140% var(--font-family-mavenpro);
--text-sm: 400 14px/140% var(--font-family-mavenpro);
}

body {
  background-color: var(--base-gray-200);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../assets/images/Background_Intro.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
