* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-gray-100: #0d0e11;
  --base-gray-200: #16181d;
  --base-gray-300: #292c34;
  --base-gray-400: #878ea1;
  --base-gray-500: #c0c4ce;
  --base-gray-600: #e2e4e9;

  --principal-red: #e3646e;
  --principal-purple: #bb72e9;
  --principal-blue: #3996db;
  --principal-green: #82bc4f;
  --principal-yellow: #eabd5f;

  --font-family-asap: "Asap", serif;
  --title-lg: 700 3.5rem/120% var(--font-family-asap);
  --title-md: 700 1.5rem/120% var(--font-family-asap);
  --title-sm: 700 1rem/120% var(--font-family-asap);

  --font-family-inconsolata: "Inconsolata", serif;
  --subtitle: 400 1.25rem/120% var(--font-family-inconsolata);

  --font-family-mavenpro: "Maven Pro", serif;
  --text-md: 400 1rem/140% var(--font-family-mavenpro);
  --text-sm: 400 0.875rem/140% var(--font-family-mavenpro);
}

body {
  background-color: var(--base-gray-200);
}

header {
  min-height: fit-content;
  padding: 4.5rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(../assets/images/Background_Intro.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  min-height: fit-content;
  padding: 4.5rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(../assets/images/Background_Contacts.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
