#iconeflag {
  span {
    margin: 0 auto;
    display: block;
    background-image: url(../assets/icons/ArrowDoubleDown.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.3s ease-in-out, scale ease-in 0.3s;

    width: 24px;
    height: 24px;
  }

  &:hover span {
    background-image: url(../assets/icons/ArrowDoubleDownHover.svg);
    scale: 1.1;
  }
}

.image-profile {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  border: 0.125rem solid var(--principal-red);
  padding: 0.2725rem;
  margin-inline: auto;
  margin-top: 0.5rem;
  margin-bottom: 3.5rem;

  img {
    width: 100%;
    border-radius: 100%;
  }
}

#secondary {
  color: var(--base-gray-600);
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}

#primary {
  color: var(--base-gray-500);

  span {
    color: var(--principal-red);
  }
}

#about {
  color: var(--base-gray-400);
  margin-bottom: 4rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  margin-bottom: 2.5rem;
}

.button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.button-container button {
  font: var(--text-md);
  color: var(--base-gray-500);
  background-color: var(--base-gray-300);

  display: flex;
  align-items: center;
  border: none;
  border-radius: 1.5625rem;
  padding: 0.5rem 1rem;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.gitpurple {
  background-image: url(../assets/icons/GitHub.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  transition: background-image 0.3s ease-in-out, scale ease-in 0.3s;
}

#github {
  &:hover {
    color: #6f42c1;
    box-shadow: 0 0 10px #6f42c1;

    .gitpurple {
      background-image: url(../assets/icons/GitHubPurple.svg);
    }
  }
}

#html {
  &:hover {
    color: var(--principal-red);
    box-shadow: 0 0 10px var(--principal-red);
  }
}

#css {
  &:hover {
    color: #3996db;
    box-shadow: 0 0 10px #3996db;
  }
}

#javascript {
  &:hover {
    color: #eabd5f;
    box-shadow: 0 0 10px #eabd5f;
  }
}

#react {
  &:hover {
    color: #3996db;
    box-shadow: 0 0 10px #3996db;
  }
}

#node {
  &:hover {
    color: var(--principal-green);
    box-shadow: 0 0 10px var(--principal-green);
  }
}
