.image-profile {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  border: 0.125rem solid var(--principal-red);
  padding: 0.2725rem;
  margin-inline: auto;
  margin-top: 0.5rem;
  margin-bottom: 3.5rem;

  img {
    width: 100%;
    border-radius: 100%;
  }
}

#secondary {
  color: var(--base-gray-600);
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}

#primary {
  color: var(--base-gray-500);

  span {
    color: var(--principal-red);
  }
}

#about {
  color: var(--base-gray-400);
  margin-bottom: 4rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 4.5rem;
}

.button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.button-container button {
  font: var(--text-md);
  color: var(--base-gray-500);
  background-color: var(--base-gray-300);

  display: flex;
  align-items: center;
  border: none;
  border-radius: 1.5625rem;
  padding: 0.5rem 1rem;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
