section {
  background-color: var(--base-gray-100);
  padding: 1rem;
}

.container-section {
  margin: auto;
  max-width: 55.5rem;
  padding: 5.5rem 0 7.5rem 0;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  h2 {
    color: var(--principal-red);
  }

  h3 {
    color: var(--base-gray-600);
  }
}

.skills {
  border: solid 0.125rem var(--base-gray-200);
  padding: 0.75rem;
  border-radius: 0.75rem;

  p:nth-child(odd) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  p:nth-child(even) {
    margin-top: 1.5rem;
  }

  @media (max-width: 960px) {
    text-align: center;
  }
}

.skills-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  gap: 1.5rem;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    max-width: 350px;
    margin-inline: auto;
  }
}
