section {
  background-color: var(--base-gray-100);
}

.container-section {
  margin: auto;
  max-width: 888px;
  padding: 88px 0 120px 0;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  h2 {
    color: var(--principal-red);
  }

  h3 {
    color: var(--base-gray-600);
  }
}

.skills {
  padding: 12px;
  border-radius: 12px;

  a {
    text-decoration: none;
  }

  p:nth-child(odd) {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  p:nth-child(even) {
    margin-top: 24px;
  }
}

.skills-container {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}
