.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.title-lg {
  font: var(--title-lg);
}

.subtitle {
  font: var(--subtitle);
}

.text-sm {
  font: var(--text-sm)
}

.text-md {
  font: var(--text-md);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gray-600 {
  color: var(--base-gray-600);
}

.gray-500 {
  color: var(--base-gray-500);
}

