.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.text-align {
  text-align: center;
}

.title-lg {
  font: var(--title-lg);

  @media (max-width: 766px) {
    font-size: 2.5rem;
  }

  @media (max-width: 431px) {
    font-size: 1.5rem;
  }
}

.subtitle {
  font: var(--subtitle);

  @media (max-width: 431px) {
    font-size: 1rem;
  }
}

.text-sm {
  font: var(--text-sm);
  max-width: 50rem;
}

.text-md {
  font: var(--text-md);

  @media (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.title-md {
  font: var(--title-md);

  @media (max-width: 766px) {
    font-size: 1.25rem;
  }
}

.title-sm {
  font: var(--title-sm);
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gray-600 {
  color: var(--base-gray-600);
}

.gray-500 {
  color: var(--base-gray-500);
}
